@import '../../style/variables.scss';
.comics {
    &__list {
        margin-top: 45px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 20px;

        @media (min-width: $media-tab-sm) {
            column-gap: 40px;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: $media-tab-lg) {
            column-gap: 60px;
            grid-template-columns: repeat(4, 1fr);
        }

    }
    &__item {
        transition: 0.3s transform;

        &-link{
            width: 100%;
        }
        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 200px;

            @media (min-width: $media-tab-sm) {
                height: 300px;
            }

            @media (min-width: $media-tab-lg) {
                height: 345px;
            }
        }
        &-name {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-price {
            margin: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
}