@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

body{
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: auto;
    scrollbar-color: $dark $white;

    &::-webkit-scrollbar {
        width: 8px;
    }

  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
  }
}

.app {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 15px;
    position: relative;


    .bg-decoration {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: none;

        @media (min-width: $media-tab-lg) {
            display: block;
        }
    }
}

main {
    margin-top: 20px;
    position: relative;

    @media (min-width: $media-tab-sm) {
        margin-top: 50px;
    }
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .4
    }
    100% {
        opacity: 1
    }
}


