$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;
$white: #ffffff;



// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-lg: 600px;

$media-tab-sm: 680px;
$media-tab-md: 768px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1360px;
$media-des-lg: 1600px;
$media-max: 1920px;