@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;

        @media (min-width: $media-tab-sm) {
            font-size: 28px;
        }
        span {
            color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 18px;
            line-height: 140%;

            @media (min-width: $media-tab-sm) {
                font-size: 24px;
            }
            
            li {
                margin: 0 8px;
                a:hover {
                    color: $main-color;
                }
            }
        }
    }
}