@import '../../style/variables.scss';

.randomchar {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    @media (min-width: $media-tab-lg) {
        grid-template-columns: repeat(2, 50%);
    }

    &__block {
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 1 auto;
        column-gap: 30px;

        @media (min-width: $media-tab-sm) {
            grid-template-columns: 180px auto;
            padding: 40px 35px;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;

        @media (min-width: $media-tab-sm) {
            width: 180px;
            height: 180px;
        }
    }
    &__info {
        display: grid;
        grid-template-rows: minmax(29px, auto) 90px 38px;
        row-gap: 10px;
        padding-top: 3px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        margin-top: 10px;

        @media (min-width: $media-tab-lg) {
            margin-top: 0;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 18px;
    }
    &__btns {
        a:nth-child(1) {
            margin-right: 30px;
        }
    }
    &__static {
        padding: 30px 20px;
        background-color: $dark;
        position: relative;


        @media (min-width: $media-tab-lg) {
            padding: 40px 35px;
        }

        button {
            margin-top: 13px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.045em;
        color: #FFFFFF;

        @media (min-width: $media-tab-sm) {
            font-size: 24px;
        }

        &:nth-child(2) {
            margin-top: 33px;
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: 0;
        width: 30%;

        @media (min-width: $media-tab-lg) {
            width: auto;
        }
    }
}